<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264255583598-0ms7g4lp5fakn4ougodsq712nrbf5cm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264255583598-0ms7g4lp5fakn4ougodsq712nrbf5cm7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>264255583598-1l5492e5nuj82lkklkq43qd1a1phsno9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbAtmGxo_rh6gBrwHpdnghFJ68_jFfIcs</string>
	<key>GCM_SENDER_ID</key>
	<string>264255583598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.naemansan</string>
	<key>PROJECT_ID</key>
	<string>wearebility-303e9</string>
	<key>STORAGE_BUCKET</key>
	<string>wearebility-303e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264255583598:ios:95d98edab66e62fdbfbd7f</string>
</dict>
</plist>